@model LanchesListViewModel

@{
    ViewData["Title"] = ViewData["Lanche"];
    ViewData["Title"] = ViewBag.Lanche;
}

<h1>@Model.CategoriaAtual</h1>

@foreach (var lanche in Model.Lanches)
{
    <div class="col-6">
        <div class="img-thumbnail text-center">
            <img src="@lanche.ImagemUrl" alt="Foto do lanche" class="objectImage" />
        </div>
        <div class="figure-caption">
            <p class="float-right">Preço: @lanche.Preco.ToString("C")</p>
            <p>Lanche: @lanche.Nome </p>
            <p>@lanche.DescricaoCurta </p>
        </div>
    </div>
}
