@model CarrinhoComprasViewModel

@{
    ViewData["Title"] = "Carrinho de Compras";
}

<h1 class="row">Seu carrinho de compras</h1>
<h2 class="row">Aqui estão os seus pedidos</h2>
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Quantidade</th>
                <th scope="col">Lanche</th>
                <th scope="col" class="text-right">Preço</th>
                <th scope="col" class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
            {
                <tr>
                    <td class="text-center">@item.Quantidade</td>
                    <td class="text-left">@item.Lanche.Nome</td>
                    <td class="text-right">@item.Lanche.Preco.ToString("C")</td>
                    <td class="text-right"> @((item.Quantidade * item.Lanche.Preco).ToString("C")) </td>
                    <td class="text-center"><a class="fas fa-trash-alt text-danger" asp-controller="CarrinhoCompras" asp-action="RemoverItemDoCarrinhoCompra" asp-route-lancheId="@item.Lanche.Id"></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("C")
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<div class="float-right">
    <a class="btn btn-success" asp-controller="Pedidos" asp-action="Checkout">Encerrar Pedido</a>
</div>

<div class="float-left">
    <div class="dropdown show">
        <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
            Adicionar mais lanches
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-controller="Lanches" asp-action="List" asp-route-categoria="Normal">Normal</a>
            <a class="dropdown-item" asp-controller="Lanches" asp-action="List" asp-route-categoria="Natural">Natural</a>
        </div>

        @*@await Component.InvokeAsync("CategoriaMenu")*@
    </div>
</div>

